body {
    font-family: sans-serif;
}

.slider {
    width: 235px;
    overflow: hidden;
    border: 1px solid gray;
}

svg {
    margin: 20px;
}

#contentWrapper {
    white-space: nowrap;
    -webkit-animation: slide 20s infinite;
    -moz-animation: slide 20s infinite;
    -o-animation: slide 20s infinite;
    animation: slide 20s infinite;
}

@-webkit-keyframes slide {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(0px);
    }
    33% {
        transform: translate(-237px);
    }
    63% {
        transform: translate(-237px);
    }
    66% {
        transform: translate(-474px);
    }
    97% {
        transform: translate(-474px);
    }
}

@-moz-keyframes slide {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(0px);
    }
    33% {
        transform: translate(-237px);
    }
    63% {
        transform: translate(-237px);
    }
    66% {
        transform: translate(-474px);
    }
    97% {
        transform: translate(-474px);
    }
}

@-o-keyframes slide {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(0px);
    }
    33% {
        transform: translate(-237px);
    }
    63% {
        transform: translate(-237px);
    }
    66% {
        transform: translate(-474px);
    }
    97% {
        transform: translate(-474px);
    }
}

@keyframes slide {
    0% {
        transform: translate(0px);
    }
    30% {
        transform: translate(0px);
    }
    33% {
        transform: translate(-237px);
    }
    63% {
        transform: translate(-237px);
    }
    66% {
        transform: translate(-474px);
    }
    97% {
        transform: translate(-474px);
    }
}